
{% for i in loopbacks %}
interface Loopback{{ i | replace('lo', '') }}
    description {{ loopbacks[i].description | default('Description is missing') }}
    {% if 'ospf_area' in loopbacks[i] %}
        ip ospf 1 area {{ loopbacks[i].ospf_area }}
    {% endif %}

{% endfor %}
