{% for i in loopbacks %}
interface Loopback{{ i | replace('lo', '') }}
    description {{ loopbacks[i].description | default('Description is missing') }}
    ip address {{ loopbacks[i].ip }} 255.255.255.255
{% endfor %}
