Hostname: {{ facts["ansible_facts"]["ansible_net_hostname"] }}
Model: {{ facts["ansible_facts"]["ansible_net_model"] }}
IOS type: {{ facts["ansible_facts"]["ansible_net_model"] }}
IOS version: {{ facts["ansible_facts"]["ansible_net_version"] }}
Serial number: {{ facts["ansible_facts"]["ansible_net_serialnum"] }}